/*

author: tylkonieto1@gmail.com 
css style for twitpic project

*/

/*	=======================================
	BODY
	=======================================
*/
body, html {
	height: 100%;
}
body {
	/*padding-top: 20px;*/
}

/*	=======================================
	WRAPPER
	=======================================
*/
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -80px; /* the bottom margin is the negative value of the footer's height */
}


/*	=======================================
	HEADER
	=======================================
*/

.header-top {
	margin-top: 20px;
}
.header-top ul li {
	padding: 0 1px !important; /* little padding to make it less clutter */
}


/*	=======================================
	.HERO-UNIT
	=======================================
*/

.hero-unit {
	padding: 30px;
}

/*	=======================================
	LISTA KONT
	=======================================
*/
.lista-kont .media-body h3 {
	margin: 0;
}
.container .footer {
	height: 60px;
}
a.link-home:hover,
a.link-home:active {
	/*border-bottom:none;*/
	text-decoration: none;
}
/*	========================================
	HR
	========================================
*/
hr {
	margin: 20px 0;
	border: 0;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #ffffff;
}

/*	========================================
	LISTA ZDJEC
	========================================
*/

/* chcemy się pozbyć marginesu dla pierwszego obrazka,
wiemy, że mamy 4 obrazki w wierszu czyli 1 5 9 13 ... */ 
.row-fluid [class*="span"]:nth-child(4n+1):not(.no-margin-left) {
	margin-left: 0;
}


/*	========================================
	TWORZENIE KAMPANI
	========================================
*/

.etap-pierwszy textarea {
	font-size: 18px;
	line-height: 1.45;
	width: 100%; /* kontener, w którym jest textarea 
					będzie definiować jego długość */
}
.etap-pierwszy span.counter {
	position: relative;
	font-size: 16px;
	line-height: 1.45;
	margin-top: .5em;
	float: right;
	text-align: right;
}

.etap-pierwszy span.first-number {
	font-weight: normal;
}
section[class*="etap"] {
	border-bottom: 2px solid #eee;
}
section[class*="etap"] .page-header {
	border-bottom: none !important;
}

section[class*="etap"] span.badge {
	margin: 30px 0;	
	line-height: 40px;
	font-size: 46px;
	padding: 4px 12px;

	-webkit-border-radius: 26px;
	   -moz-border-radius: 26px;
			border-radius: 26px;

	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0,.4);
	   -moz-box-shadow: 1px 2px 6px rgba(0,0,0,.4);
		    box-shadow: 1px 2px 6px rgba(0,0,0,.4);

}
/*zmieniamy defaultowy wygląd, dodamy klasy za pomocą JS
by pokazać wybór zdjęć / kont*/

.etap-drugi ul li a {
	padding: 4px;
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;
}

.etap-drugi ul li a:hover,
.etap-drugi ul li a:focus {
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;
}
/* pomocniczna klasa dla elementów, które zostały kliknięte i wybrane */
.selected {
	border-color: rgba(130, 179, 61, 1);
	background-color: rgba(130, 179, 61, .8);

	zoom: 1;
	filter: alpha(opacity=100) !important;
	opacity: 1 !important;
}

.etap-trzeci ul.media-list li {
	cursor: pointer;
	zoom: 1;
	filter: alpha(opacity=50);
	opacity: 0.5;

	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}
.etap-trzeci ul.media-list li:hover, 
.etap-trzeci ul.media-list li:focus {
	zoom: 1;
	filter: alpha(opacity=100);
	opacity: 1;

	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
	   -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
			box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
}

/*	========================================
	FOOTER
	========================================
*/
footer {
	position: relative;
	height: 60px;
	background-color: rgba(0,0,0,.05);
	//padding-bottom: 1em;
}

/*	========================================
	MEDIA QUERIES
	========================================
*/


.jumbotron h1 {
	font-size: 72px;
	line-height: 1;
}
@media all and (min-width: 900px) {
	.container {
		max-width: 900px;
	}
}