/*

	author: tylkonieto1@gmail.com 
	css style for twitpic project

	=======================================
	
	(inspired by elliotjaystocks.com)
	
	table of contents:
		01 Basic layout
			- Body, wrapper
			- Header
			- Footer
			- Sections
		02 Overriding bootstrap styles
			- hero-unit
			- hr
			- jumbotron
		03 Dodawanie kont
		04 Dodawanie reklamy
			- tabs
			- tworzenie reklamy
				- etap-pierwszy
				- etap-drugi
				- etap-trzeci
			- wyswietlanie reklam
				- update
				- deletes
		05 Tworzenie kampanii
			- etap-pierwszy
			- etap-drugi
			- etap-trzeci
		06 Monitorowanie kampanii
			- filtrowanie kampanii
			- wyswietlanie miniatur kampanii
		07 Misc
		08 Media queries
		
*/

/*	=======================================
	01 Basic layout
	=======================================
*/

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
body, html {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em; /* the bottom margin is the negative value of the footer's height */
}
.header-top {
	padding-top: 20px;
}
.header-top ul {
	margin-top: 1em;
}
.header-top ul li {
	padding: 0 1px !important; /* little padding to make it less clutter */
}
.footer {
	line-height: 3em; /* same as height of the footer */
	padding-top: 4px;
}
footer {
	background-color: #ddd;
	height: 4em;
	box-shadow: 0 -1px 1px #bbb;
}
.lista-kont, 
.tworzenie-kampanii,
.tworzenie-reklamy,
.monitorowanie-kampanii,
.wyswietlanie-reklam {
	margin-bottom: 4em;
}


/*	=======================================
	02 Overriding bootstrap styles
	=======================================
*/

.hero-unit {
	padding: 30px;
}
hr {
	margin: 20px 0;
	border: 0;
	border-top: 2px solid #eeeeee;
	border-bottom: 2px solid #ffffff;
}
.jumbotron {
	/*background-color: #F2EFE6 !important;*/
	/*color: #494B4C !important;*/
}
.jumbotron h1 {
	font-size: 72px;
	line-height: 1em;
}
.jumbotron p {
	margin-top: 1em;
}


/*	=======================================
	03 Dodawanie kont
	=======================================
*/
.media-list div.row-fluid {
	margin-bottom: 2em;
}
.media-list div.row-fluid:last-child {
	margin-bottom: 0;
}
.lista-kont .media img.media-object {
	max-width: 128px;
}
.lista-kont .buttons {
	margin-left: 0;
}
.lista-kont .buttons a {
	display: inline-block;
	width: 43%;
	margin: 0 1em;
	padding: .4em;
	font-size: 16px;
	text-align: center;
	float: right;
}
.lista-kont .buttons a i {
	width: 16px;
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
		    transform: scale(1.1);
}
.lista-kont .media-body h3 {
	margin: 0;
}
/*	stylujemy alert-box, który się pojawi gdy użytkownik cofnął
	dostęp do swojego konta twitter i musimy ponownie
	dokonać autoryzacji */
.lista-kont .media-list .alert-error {
	margin-left: 0;
}
a.link-home:hover,
a.link-home:active {
	text-decoration: none;
}


/*	========================================
	04 Dodawanie reklamy
	========================================
*/

.dodawanie-reklam ul.nav.nav-tabs {
	margin-left: -146px;
}
.dodawanie-reklam .nav-tabs {
	margin-right: 0;
}
.tworzenie-reklamy {
	padding: 0 1em;
}
section[class*="etap"] {
	border-bottom: 2px solid #eee;
}
section[class*="etap"]:last-child {
	border-bottom: none;
}
section[class*="etap"] .page-header {
	border-bottom: none !important;
}
section[class*="etap"] span.badge {
	margin: 30px 0;	
	line-height: 40px;
	font-size: 46px;
	padding: 4px 12px;

	-webkit-border-radius: 26px;
	   -moz-border-radius: 26px;
			border-radius: 26px;

	-webkit-box-shadow: 1px 2px 6px rgba(0,0,0,.4);
	   -moz-box-shadow: 1px 2px 6px rgba(0,0,0,.4);
		    box-shadow: 1px 2px 6px rgba(0,0,0,.4);

}
.etap-pierwszy,
.etap-drugi {
	padding-bottom: 2em;
}
.etap-pierwszy textarea {
	font-size: 18px;
	line-height: 1.45;
	width: 100%; /* kontener, w którym jest textarea 
					będzie definiować jego długość */
}
.nazwa-reklamy-input,
.nazwa-kampanii-input {
	/* powiększamy lekko input*/
	height: 34px !important;
	font-size: 16px;
	line-height: 1.4;
}
.etap-trzeci fieldset,
.etap-trzeci .form-actions {
	width: 100%;
}
.etap-trzeci .form-actions button + button {
	margin-right: 1em;
}
/*  
	chcemy się pozbyć marginesu dla pierwszego obrazka,
	wiemy, że mamy 4 obrazki w wierszu czyli 1 5 9 13 ... 
	to kolejne numery pierwszych obrazków w wierszu
*/ 
.row-fluid [class*="span"]:nth-child(4n+1):not(.no-margin-left) {
	/*margin-left: 0;*/
}

/*	WYSWIETLANIE REKLAM	 */

.wyswietlanie-reklam [contenteditable="true"] {
	border: none;
	outline: none;

	background-color: rgba(224,221,68,.6);;
}
.wyswietlanie-reklam [contenteditable="true"]:hover {
	background-color: rgba(224,221,68,1);;
}

.wyswietlanie-reklam h3,
.wyswietlanie-reklam .alert-box {
	margin-left: 1em;
}

.lista-reklam {
	-webkit-column-count: 2;
	   -moz-column-count: 2;
			column-count: 2;
	-webkit-column-gap: 1em;
  	   -moz-column-gap: 1em;
			column-gap: 1em;
	-webkit-column-fill: auto;
	   -moz-column-fill: auto;
			column-fill: auto;	
}

.lista-reklam .reklama-item {
	display: inline-block;
	
	-webkit-column-break-inside: avoid;
	   -moz-column-break-inside: avoid;
			column-break-inside: avoid;
	margin: 1em;
	max-width: 386px;
}

.lista-reklam .alert {
	display: inline-block;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	margin: 0 1em;
	max-width: 386px;
}

/* lekkko zmieniony well udostępniony przez bootstrap */
.well-custom {
	background-color: rgba(0,0,0,.03);
	border: 1px solid rgba(0,0,0,.15);
	
	-webkit-border-radius: 2px;
	   -moz-border-radius: 2px;
			border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}

.well-custom h1 {
	color: #666;

	/* word-break, by css-tricks
	http://css-tricks.com/almanac/properties/w/word-break/
	*/	
	-ms-word-break: break-all;
     word-break: break-all;

     /*	Non standard for webkit*/
     word-break: break-word;

	-webkit-hyphens: auto;
	   -moz-hyphens: auto;
	        hyphens: auto;
}
.well-custom .img-holder,
.well-custom .media-body,
.well-custom .media-details {
	padding: 1em;
}
/* obrazek musi być w jakimś zewnętrznym 'pudełku', który będzie miał ustalony width*/
.well-custom .img-holder img{
	max-height: 530px;
}
.well-custom .media-details{
	position: relative;
	left: 0;
	width: 100%;
	float: left;
	display: block;
}
.well-custom .media-buttons {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, .06);
	float: left;

	border-top: 1px solid rgba(0,0,0,.15);
}
.well-custom .media-buttons.edit {
	display: none;
}
.well-custom .media-buttons i {
	width: 16px;
	margin-right: 6px;
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
		    transform: scale(1.1);
}
.well-custom .media-buttons a {
	text-align: center;
	color: #999;
	padding: .8em;
	text-decoration: none;

	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}
.well-custom .media-buttons a:focus, 
.well-custom .media-buttons a:hover {
	background-color: rgba(0, 0, 0, .1);
}
.well-custom .media-buttons.normal a.edytuj-reklame {
	width: 50%;
	border-left: none;
}
.well-custom .media-buttons a.usun-reklame {
	border-left: 1px solid rgba(0, 0, 0, .15);
	width: 50%;
}
.well-custom .media-buttons a.zapisz-zmiany,
.well-custom .media-buttons a.odrzuc-zmiany {
	width: 50%;
}
.well-custom .media-buttons a.odrzuc-zmiany {
	border-left: 1px solid rgba(0, 0, 0, .15);
}


/*	========================================
	05 Tworzenie kampanii
	========================================
*/
section.reklamy .alert {
	margin-left: 0;
}
.lista-reklam-kampania {
	-webkit-column-count: 3;
	   -moz-column-count: 3;
			column-count: 3;
	-webkit-column-gap: 1em;
  	   -moz-column-gap: 1em;
			column-gap: 1em;
	-webkit-column-fill: auto;
	   -moz-column-fill: auto;
			column-fill: auto;

	/* fx fix */
	float: left;	
}

.lista-reklam-kampania .reklama-item {
	display: inline-block;
	
	-webkit-column-break-inside: avoid;
	   -moz-column-break-inside: avoid;
			column-break-inside: avoid;
	margin-bottom: 1em;
	/* fx fix */
	max-width: 264px;
}
.lista-reklam-kampania .reklama-item:hover {
	cursor: pointer;
}
.lista-reklam-kampania .reklama-item .media-body,
.lista-reklam-kampania .reklama-item .media-details { 
	display: none;

	/*-webkit-transition: all 0.9s ease-in-out;
	   -moz-transition: all 0.9s ease-in-out;
	     -o-transition: all 0.9s ease-in-out;
			transition: all 0.9s ease-in-out;*/
}
.well-custom .media-buttons a.pokaz-szczegoly {
	width: 100%;
	border-left: none;
}
.lista-reklam-kampania .reklama-item.selected a{
	color: #444;
}

/* zmiany dla wyświetlania kont */
.etap-drugi.lista-kont .media-list div.row-fluid {
	margin-bottom: 2em;
}
.etap-drugi.lista-kont .buttons {
	margin-left: 0;
}

.etap-drugi.lista-kont .buttons a {
	display: inline-block;
	width: 30%;
	margin-right: 0;
	padding: .4em;
	font-size: 16px;
	text-align: center;
	float: right;
}

.etap-drugi .media-list .media:hover {
	/*cursor: pointer;*/
}

.tworzenie-kampanii .etap-trzeci {
	margin-bottom: 2em;
}
.etap-trzeci div.row-fluid:last-child .alert{
	margin-left: 0;
}
/* pomocniczna klasa dla elementów, które zostały kliknięte i wybrane */
.selected {
	border-color: rgba(130, 179, 61, 1);
	background-color: rgba(130, 179, 61, .8);

	zoom: 1;
	filter: alpha(opacity=100) !important;
	opacity: 1 !important;
}


/*	========================================
	06 Monitorowanie kampanii
	========================================
*/
.well-campaign,
.well-filtrowanie {
	background-color: rgba(0,0,0,.03);
	border: 1px solid rgba(0,0,0,.15);
	/*border-left: 4px solid rgba(237,48,60,.7);*/

	border-radius: 2px;
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
	   -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
			box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well-filtrowanie {
	padding: 1em;
}
.filtrowanie-search label {
	color: #999;
	text-align: center;
}
.filtrowanie-search input {
/*	height: 38px;
	line-height: 34px;
	font-size: 18px;*/
}
.filtrowanie-buttons {
	margin-top: 1em;
}
ul.stworzone-kampanie li {
	min-height: 213px !important;
}
/* musimy wywalić marginesy dla pewnych elementów na liście */
ul.stworzone-kampanie li:nth-child(2n+1) {
	margin-left: 0 !important;
}
ul.stworzone-kampanie li:nth-child(2) {
	margin-top: 0 !important;
}
/*.well-campaign h1 {
	color: #666;
}
.well-campaign .pull-left,
.well-campaign .media-body,
.well-campaign .media-details {
	padding: 1em;
}
.well-campaign .pull-left img {
	width: 100%;
	height: 100%;
	max-width: 128px;
	max-height: 128px;
}
.well-campaign .media-details{
	position: relative;
	left: 0;
	width: 100%;
	float: left;
	display: none;
}
.well-campaign .media-buttons {
	position: relative;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0, 0, 0, .06);
	float: left;

	border-top: 1px solid rgba(0,0,0,.15);
}
.well-campaign .media-buttons i {
	width: 16px;
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
		    transform: scale(1.1);
}
.well-campaign .media-buttons a {
	color: #999;
	border-left: 1px solid rgba(0, 0, 0, .15);
	padding: .8em;
	text-decoration: none;

	-webkit-transition: all 0.2s ease-in-out;
	   -moz-transition: all 0.2s ease-in-out;
	     -o-transition: all 0.2s ease-in-out;
			transition: all 0.2s ease-in-out;
}
.well-campaign .media-buttons a:focus, 
.well-campaign .media-buttons a:hover {
	background-color: rgba(0, 0, 0, .1);
}
.well-campaign .media-buttons a.pokaz-szczegoly {
	width: 60%;
	text-align: center;
	border-left: none;
}
.well-campaign .media-buttons a.usun-kampanie {
	width: 40%;
}
*/
.monitorowanie-kampanii .stworzone-kampanie {
	margin-left: 0;
}

/*	Wyświetlanie kampanii */

.campaign-item {
	margin-bottom: 2em;
}

h4 + hr {
	margin: 10px 0;
}

/* campaign-title */
.campaign-title {
	padding: 0 1em;
}
.campaign-title h1 {
	/*color: rgb(70, 136, 71);*/
}

/*	campaign-add */
.campaign-add {
	padding: 1em;
}
.campaign-add .add-name {
	margin-top: 0;
	color: #999;
}
.campaign-add .add-text {
	margin-top: 20px;
}

/*	campaign-accounts */
.accounts a {
	color: #666;
}

/*	campaign-comments */
.campaign-item .media:not(:first-child) {
	margin-top: 0;
}
.campaign-item .media-body {
	padding: .6em;
}
.comment-timestamp {
	color: rgb(153, 153, 153);
	margin-left: 1em;
	font-size: 14px;
} 

/* campaign-info */
.campaign-info {
	position: relative;
	bottom: 0;
	left: 0;
	top: 0;
	width: 100%;
	/*padding: 0 1em;*/
	margin-left: 0 !important;
	background-color: rgba(0,0,0,.04);
	border-top: 1px solid rgba(0,0,0,.15);
	box-shadow: none;
	height: 1em;
	line-height: 2em;
}
.campaign-info p {
	padding: 0 1em;
	float: right;
	border-left: 1px solid rgba(0,0,0,.15);
}
.campaign-info p {

}
.campaign-info p i{
	width: 16px;
	margin-right: 4px;
	-webkit-transform: scale(1.1);
	   -moz-transform: scale(1.1);
		    transform: scale(1.1);
}

.stworzone-kampanie {
	/*-webkit-column-count: 2;
	   -moz-column-count: 2;
			column-count: 2;
	-webkit-column-gap: 1em;
  	   -moz-column-gap: 1em;
			column-gap: 1em;
	-webkit-column-fill: auto;
	   -moz-column-fill: auto;
			column-fill: auto;	*/
}

.stworzone-kampanie .media {
/*	display: inline-block;
	
	-webkit-column-break-inside: avoid;
	   -moz-column-break-inside: avoid;
			column-break-inside: avoid;
	margin: 1em;
	min-width: 386px;*/
}

/*	========================================
	07 Misc
	========================================
*/

.hidden {
	display: none;
}

/*	========================================
	08 Media Queries
	========================================
*/

/* musimy poprawić wyświetlanie tabs na stronie /dodawanie-reklamy */
@media all and (max-width: 69em) {
	.dodawanie-reklam ul.nav.nav-tabs {
		margin-left: 0;
		margin-bottom: 0;
	}
	.tabs-left > .nav-tabs {
		float: none;
	}
}
/* podstawowy media query do ograniczenia width strony, wrapper */
@media all and (min-width: 58em) {
	.container {
		max-width: 58em;
	}
	
}
@media all and (max-width: 62em) {
	/* poprawiany wyświetlanie głównej nawigacji */
	.header-top hr {
		visibility: hidden;
	}
	.header-top ul.nav {
		position: relative;
		top: 5em;
		margin-bottom: 4em;
		padding-bottom: 1em;
	}
	.header-top h3 a {
		position: absolute;
		top: 1em;
		width: 20%;
		text-align: center;
		left: 0;
		margin-left: 40%;
	}
}
@media all and (max-width: 54em) {
	/* tworzenie-kampanii, fix dla przyciskow 'zanznacz/odznacz wszystkie' */
	.etap-drugi .row-fluid .no-margin-left {
		margin-left: 0;
		width: 100%;
	}
}
@media all and (max-width: 50em) {
	.header-top hr {
		visibility: visible;
	}	
	.header-top ul.nav {
		margin-bottom: 5em;
		float: center;
		text-align: center;
	}
	.header-top h3 a {
		position: absolute;
		left: 0;
		margin-left: 30%;
		top: 1em;
		width: 40%;
		text-align: center;
	}
	.lista-kont ul.media-list div.row-fluid {
		width: auto;
		width: 100%;
	}
	.lista-kont ul.media-list div.row-fluid .media-body {
		float: left;
		width: auto;
	}

	/* ukrywamy numerki etapów */
	.span1.text-center {
		display: none;
	}
	.lista-reklam-kampania {
	-webkit-column-count: 3;
	   -moz-column-count: 3;
			column-count: 3;
	-webkit-column-gap: 1em;
  	   -moz-column-gap: 1em;
			column-gap: 1em;
	-webkit-column-fill: auto;
	   -moz-column-fill: auto;
			column-fill: auto;	
		float: left;
	}
	.etap-drugi ul.media-list div.row-fluid {
		width: auto;
		max-width: 100%;
	}
	.etap-drugi ul.media-list .media-body {
		float: left;
		width: auto;
		max-width: 75%;
	}
	.etap-drugi.lista-kont .buttons a {
		width: 50%;
	}
	.tworzenie-reklamy {
		padding: 0;
	}
	.wyswietlanie-reklam h3,
	.wyswietlanie-reklam .alert-box {
		margin-left: 0;
	}
	.filtrowanie-search span.add-on {
		width: 10%;
		max-width: 10%;
	} 
	.filtrowanie-search .span5,
	.filtrowanie-search .span7 {
		float: left;
		width: 50%;
	}
	.filtrowanie-search #nazwaReklamy {
		width: 80%;
	}
	.filtrowanie-search #nazwaKampanii {
		width: 80%;
	}
	.campaign-accounts .text-info,
	.campaign-comments .text-info {
		padding-left: 1em;
	}
	.campaign-accounts .accounts,
	.comments {
		padding: 0 1em;
	}
	.media .pull-left {
		float: left;
	}
	.campaign-item .media-body {
		padding: 0 0 1em;
	}
	.campaign-info {
		height: 100%;
		overflow: hidden;
		line-height: 2em;
	}
	.campaign-info p {
		line-height: 2.8em;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	.well-custom .img-holder,
	.well-custom .media-body,
	.well-custom .media-details {
		padding: .5em;
	}
	.reklama-item .media-body h1 {
		margin: 0;
	}
	.lista-reklam .media-buttons {
		overflow: hidden;
		height: 100%;
		line-height: 2.5em;
	}
	.lista-reklam .media-buttons a {
		line-height: 1.3em;
	}
}
@media all and (max-width: 40em) {
	.lista-reklam-kampania {
	-webkit-column-count: 2;
	   -moz-column-count: 2;
			column-count: 2;
	-webkit-column-gap: 1em;
  	   -moz-column-gap: 1em;
			column-gap: 1em;
	-webkit-column-fill: auto;
	   -moz-column-fill: auto;
			column-fill: auto;	
		float: left;
	}
	.etap-drugi ul.media-list .media-body {
		max-width: 65%;
	}
	.lista-kont ul.media-list div.row-fluid .media-body {
		width: 65%;
	}
}
@media all and (max-width: 30em) {	
	.etap-drugi .row-fluid .no-margin-left button{
		margin-bottom: 1em;
		width: 70%;
	}
	body {
		padding-left: 10px;
		padding-right: 10px;
	}
	.header-top ul.nav {
		position: relative;
		top: 5em;
		margin-bottom: 5em;
		padding-bottom: 0;
		text-align: center;	
		float: center !important;
	}
	.header-top h3 a {
		position: absolute;
		margin-left: 0;
		top: .5em;
		left: 25%;
		width: 50%;
		text-align: center;
	}
	.header-top ul.nav > li {
		text-align: center;
		float: center;
	}
	.lista-kont .media img.media-object {
		max-width: 86px;
	}
	.lista-kont .buttons a {
		width: 100%;
		margin: 0;
	}
	.lista-kont ul.media-list div.row-fluid .media-body {
		width: auto;
		display: inline-block;
		float: left;
	}
	.header-top {
		margin-top: 0;
	}
	.header-top ul {
		margin-top: 0;
	}
	.header-top h3.muted {
		text-align: center;
		display: block;
	}
	.lead {
		text-align: justify;
		font-size: 16px;
		line-height: 22px;
		margin: 0 auto 1em;
	}
	hr {
		margin: 10px 0;
	}	
	.page-header {
		margin-bottom: 0;
		margin-top: 0;
	}
	.page-header h1 {
		font-size: 30px;
		line-height: 1;
	}
	.page-header h1 small {
		font-size: 18px;
		line-height: 26px;
		margin-top: 1em;
		/* word-break, by css-tricks
		http://css-tricks.com/almanac/properties/w/word-break/
		*/	
		-ms-word-break: break-all;
	     word-break: break-all;

	     /*	Non standard for webkit*/
	     word-break: break-word;

		-webkit-hyphens: auto;
		   -moz-hyphens: auto;
		        hyphens: auto;
	}
	
	.etap-pierwszy textarea {
		display: inline-block;
		font-size: 16px;
		line-height: 24px;
		width: 80%;
	}
	.etap-pierwszy .counter {
		display: inline-block;
	}
	.etap-trzeci .form-actions button {
		margin-bottom: .5em !important;
		margin-left: .1em !important;
	}
	.etap-trzeci .form-actions button + button {
		margin-right: 0;
	}
	.lista-reklam {
	-webkit-column-count: 1;
	   -moz-column-count: 1;
			column-count: 1;
	-webkit-column-gap: 1em;
  	   -moz-column-gap: 1em;
			column-gap: 1em;
	-webkit-column-fill: auto;
	   -moz-column-fill: auto;
			column-fill: auto;	
	}
	.lista-reklam .edit {
		/*line-height: 1.5em;*/
	}
	.lista-reklam .edit a {
		/*line-height: 3em;*/
	}
	.lista-reklam-kampania {
	-webkit-column-count: 1;
	   -moz-column-count: 1;
			column-count: 1;
	-webkit-column-gap: 1em;
  	   -moz-column-gap: 1em;
			column-gap: 1em;
	-webkit-column-fill: auto;
	   -moz-column-fill: auto;
			column-fill: auto;	
		float: left;
	}
	/* zmniejszamy zdjęcia na mobile */
	.well-custom .img-holder img {
		max-width: 220px;
		max-height: 280px;
	}
	.lista-reklam-kampania .reklama-item {
		margin-right: 1em;
	}
	
	.etap-drugi ul.media-list div.row-fluid {
		width: 100%;
		max-width: 100%;
	}
	.etap-drugi ul.media-list .media-body {
		float: left;
		width: auto;
		max-width: 100%;
	}
	.etap-drugi.lista-kont .buttons a {
		width: 100%;
	}
	.lista-reklam .reklama-item {
		margin: .5em 1em;
	}
	.well-custom h1 {
		font-size: 20px;
		line-height: 1.2em;
	}
	.campaign-title h1 {
		margin-bottom: 0 !important;
	}
	.campaign-add {
		padding: 0 1em;
	}
	.campaign-add .add-name {
		font-size: 20px;
		line-height: 1.6em;
	}
	.campaign-add img.media-object {
		max-width: 220px;
	}
	.campaign-accounts .text-info,
	.campaign-comments .text-info {
		padding-left: .5em;
	}
	.campaign-accounts .accounts,
	.comments {
		padding: 0 .5em;
	}
	.campaign-info p {
		line-height: 2em;
	}
	.media .pull-left {
		float: left;
	}
	.campaign-item .media-body {
		padding: 0 0 .6em;
	}
	ul.media-list.accounts a.pull-left {
		margin-bottom: 0;
	}
	ul.media-list.accounts h3 {
		margin: 0;
		font-size: 20px;
		line-height: 1.6em;
	}
	.campaign-info {
		height: 100%;
		overflow: hidden;
		line-height: 1.4em;
	}
	.campaign-info p {
		float: right;
		border-left: none;
	}
	.well-filtrowanie {
		padding: .5em;
	}
	.filtrowanie-search .input-prepend,
	.filtrowanie-buttons {
		text-align: center;
	}
	.filtrowanie-buttons .btn-group {
		width: 100%;
	}
	.filtrowanie-buttons .dropdown-menu {
		position: relative;
		left: none;
		width: 200px;
		margin: 0 auto;
		float: center;
	}
	.filtrowanie-buttons button {
		float: center;
		margin-top: 1em;
	}
	.filtrowanie-search span.add-on {
		width: 10%;
		max-width: 10%;
	}
	.filtrowanie-search .span5,
	.filtrowanie-search .span7 {
		float: none;
		width: 100%;
	} 
	.filtrowanie-search #nazwaReklamy {
		width: 80%;
	}
	.filtrowanie-search #nazwaKampanii {
		width: 80%;
	}
	.etap-drugi.lista-kont .media-list div.row-fluid {
		margin-bottom: 1em;
	}
	.media-list .row-fluid .well-small {
		margin-bottom: .5em;
	}

}
@media all and (max-width: 26em) {
	.header-top h3 a {
		width: 90%;
		left: 0;
		margin-left: 5%;
	}
}
@media all and (max-width: 23em) {
	.filtrowanie-buttons .btn-group a.btn {
		font-size: 12px;
	}
	.campaign-item .comments .comment-timestamp {
		display: inline-block;
		margin-left: 0;
	}	
}